<nav id="taxonomies" class="sidebar-item" data-hook>
  <h4 class='taxonomy-root'>Kategorie</h4>
  <div class="list-group">
    <ul>
    <%  @categories.each do |taxon| %>
      <% childrens = get_child_taxons(taxon.id) %>
      <% if childrens.length > 0 %>
        <li>
          <%= link_to raw("<i class='fa fa-circle'></i>  #{taxon.name} <i class='fa fa-angle-down'></i>"), seo_url(taxon), class: "list-group-item parent" %>
          <ul>
            <% childrens.each do |c| %>
              <% subchildrens = get_child_taxons(c.id) %>
              <% if subchildrens.length > 0 %>
                <li>
                  <%= link_to raw("#{c.name} <i class='fa fa-angle-down'></i>"), seo_url(c), class: "list-group-item parent" %>
                  <ul>
                    <% subchildrens.each do |sc| %>
                      <li><%= link_to raw("#{sc.name}"), seo_url(sc), class: "list-group-item" %></li>
                    <% end %>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to raw("#{c.name}"), seo_url(c), class: "list-group-item" %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% else %>
        <li><%= link_to raw("<i class='fa fa-circle'></i>  #{taxon.name}"), seo_url(taxon), class: "list-group-item" %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
</nav>